@use '../../../../constants/colors.scss' as *;

.formControl {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;

  .someQuantityProducts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;

    .numberQuantity {
      display: flex;
      align-items: center;

      .inputQuantity {
        display: flex;
        height: 100%;
        padding: 5px;
        font-size: 16px;
        align-items: center;
        border: none;
        border-bottom: 1px solid $GRAY_DARK;
        outline: none;
        appearance: none;
        width: 50px;
        text-align: center;
      }
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }
}

