@use '../../constants/colors' as *;

.containerWarehousesPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;

  .btn {
    display: inline-block;
    text-transform: lowercase ;
    border-radius: 10px;

    &::first-letter {
      text-transform: uppercase;
    }

  }

  .headerWarehouses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    h1 {
      font-size: 35px;
    }

    .rightSide {
      display: flex;
      gap: 15px;

      input {
        height: 40px;
        width: 200px;
        padding: 7px;
      }

    }
  }

  .itemsList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;

    .item {
      display: flex;
      align-items: center;
      padding: 15px 15px;
      border-radius: 5px;
      width: 100%;
      justify-content: space-between;
      height: 70px;
      background: $WHITE;

      .itemButton {
        display: flex;
        gap: 10px;
      }
    }

  }
}



