.warehouseContainer {
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  .headerWarehouse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .nameWarehouse {
      font-size: 30px;
      font-weight: 500;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 20px;

      button {
        border-radius: 7px;
        text-transform: none;

        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
}
